* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background: #fff;
  font-family: "Arial", sans-serif;
}

nav.mega-menu {
  display: grid;
  grid-template-columns: 450px calc(100vw - 450px);
  grid-gap: 20px;
  overflow-x: hidden;
}

#main-menu-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.mega-menu-list {
  position: relative;
  background: url("images/IMAGEN FONDO PANTALLA 1.webp") no-repeat bottom right / contain;
}

.mega-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem 0;
  position: relative;
  height: 100%;
}

.mega-menu-container ul,
.mega-menu-container li {
  list-style: none;
}

.submenu {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  height: auto;
  width: 320px;
  visibility: visible;
}

.submenu > li {
  padding: 0.625rem 1.25rem;
}

.mega-menu-container > .first-level-item,
.mega-menu-container .second-level-item {
  display: flex;
  flex-direction: column;
  padding: 0.625rem 1.25rem;
  width: 320px;
  border-right: 1px solid #000;
  position: relative;
}

.mega-menu-container .second-level-item {
  transform: translateY(0%);
}

.mega-menu-container > .first-level-item > a,
.mega-menu-container .second-level-item > a,
.third-level-item > a {
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  color: gray;
  font-size: 1.75rem;
  font-weight: 700;
}

.mega-menu-container .second-level-item > a,
.third-level-item > a {
  color: gray;
  font-size: 1rem;
  font-weight: 400;
}

.mega-menu-container .second-level-item > a {
  transform: translate(0);
  transition: transform 0.3s ease-in-out;
}

.mega-menu-container .second-level-item:hover > a {
  color: #000;
  transform: translate(10px);
}

#proyecto-educativo > a::after,
#formacion-valorica > a::after,
#cv-internacionales > a::after,
#diversidad > a::after,
#herramientas-vida-escolar > a::after,
#deportes > a::after {
  content: "";
  background: url("images/icons8-double-right-96.png") no-repeat bottom / contain;
  padding-left: 20px;
}

.mega-menu-container .menu-item.first-level-item.activeClass > a {
  color: #4c4daa;
}

.mega-menu-container .menu-item.first-level-item::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

#nuestro-adn::before {
  border-left: 30px solid #f9b233;
}

#la-vida-en-lintac::before {
  border-left: 30px solid #e30613;
}

#zona-alumnos::before {
  border-left: 30px solid #369ed9;
}

#comunidad::before {
  border-left: 30px solid #1e9a5c;
}

.mega-menu-container .menu-item.first-level-item.activeClass::before {
  opacity: 1;
}
